<div class="todos-wrapper">
    <div class="container">
        <div class="todo-item completed">
            <div class="checkbox">
                <i class="material-icons-outlined">check</i>
            </div>
            <p class="todo-text">This is the todo text !</p>
        </div>

        <div class="todo-item">
            <div class="checkbox">
                <i class="material-icons-outlined">check</i>
            </div>
            <p class="todo-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam consectetur similique consequuntur beatae ex aliquid veniam cupiditate magni. Alias tenetur id corrupti veritatis! Vero assumenda architecto facilis, laudantium repellendus maxime!</p>
        </div>

    </div>
    
</div>